<table class="canvas-table">
  <tbody>
    <tr>
      <td>
        <div>
          <canvas
            id="paper-canvas"
            data-ng-class="{ 'bordered' : ready }"
            data-ng-mousedown="onMouseDown($event)"
            data-ng-mouseup="onMouseUp(false)"
            data-ng-mousemove="onMouseMove($event)">
          </canvas>

          <div class="buttons border-b-radius">
            <a
              title="Toggle Play/Pause"
              class="shadow button mega-octicon"
              data-ng-click="togglePlaying()"
              ng-class="{ true : 'octicon-triangle-right', false : 'octicon-primitive-square' }[!!playing]">
            </a>

            <a
              title="Projects GitHub page"
              href="https://github.com/p1100i/click-da-game-of-life.js"
              class="shadow button mega-octicon octicon-mark-github">
            </a>

            <a
              title="p1100i's github.io page"
              href="https://p1100i.github.io"
              class="shadow button mega-octicon octicon-broadcast">
            </a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
