table.canvas-table
  text-align center
  width 100%
  height 100%
  min-height 200px
  min-width 200px

canvas.bordered
  border 1px solid grey
  cursor pointer

div.buttons
  background-color #e2e2e2
  position    absolute
  display     inline-block
  top         0
  left        50%
  width       170px
  margin-left -85px
  padding     10px

a.button
  border            1px solid black
  color             black
  background-color  #dcdcdc
  height            50px
  width             50px
  line-height       50px
  mix-border-radius(5px)
  &:hover
    background-color #f1f1f1
